
.profile_block_newpost {
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  max-width: 600px;
}
.profile_image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 7px solid #fff;
}
.newpost {
  height: 100%;
  display: flex;
  align-items: center;
}
.newpost_textarea {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border-radius: 4px;
  padding: 6px 12px;
  width: 480px;
  height: 50px;
  margin-right: 50px;
}
.newpost_button {
  padding: 7px 25px;
  border-radius: 30px;
  color: #fff;
  border: none;
  background: #149AC9;
  transition: all 1s;
}
.newpost_button:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
