.users {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: 60px;
}
.showMoreButton {
    width: 200px;
    align-self: center;
    justify-self: center;
    padding: 7px 25px;
    border-radius: 30px;
    color: #fff;
    border: none;
    background: #149AC9;
    transition: all 1s;
}
.showMoreButton:focus {
    outline: none;
}
.showMoreButton:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    transition: all 0.3s;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.paginationList {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
}
.paginationListItem {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30px;
    color: #149AC9;
}
.paginationListItem:hover {
    transition: all 0.3s;
    color: #fff;
    cursor: pointer;
    background-color: #286090;
    border-color: #204d74;
}
.paginationListItemCurrent {
    color: #fff;
    font-weight: bold;
    background-color:#149AC9;
    border-color: #149AC9;
}