.users {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: 60px;
    padding-left: 35px;
}
.showMoreButton {
    width: 200px;
    align-self: center;
    justify-self: center;
    padding: 7px 25px;
    border-radius: 30px;
    color: #fff;
    border: none;
    background: #149AC9;
    transition: all 1s;
}
.showMoreButton:focus {
    outline: none;
}
.showMoreButton:hover {
    background-color: #12a6db;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.paginationList {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
}
.paginationListItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20px;
    color: #149AC9;
}
.paginationListItemCurrent {
    font-weight: bold;
}