.user {
    width: 100%;
    display: grid;
    grid-template-areas: 
    'imageBlock infoBlock'
    'aboutBlock aboutBlock';
    grid-template-columns: 4fr 8fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}
.userImageBlock {
    grid-area: imageBlock;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userImage {
    max-width: 100%;
    height: auto;
    border-radius: 10px;

}
.userInfoBlock {
    grid-area: infoBlock;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 15px;
}
.userInfoBlockItem {

}
.userFullnameBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.userFullname {
    padding: 0 5px;
}
.userFullnameTitle {

}
.userInfoTitle {
    padding: 0;
    margin: 0;
    text-decoration: none;
    line-height: 32px;
    color:#149AC9;
    outline: none;
    font-size: 2rem;
}
.userAboutBlock {
    grid-area: aboutBlock;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 10px;
}
.userAbout {
    padding: 0;
    margin: 0;
}
.userContactsUnavailable {
    display: block;
    padding: 0 5px;
}