.header {
  grid-area: header;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: normal;
}
.headerLogoBlock img {
  height: 30px;
  margin-right: 20px;
}
.headerLogoBlock {
  display: flex;
  align-items: center;
}
.logoutButton,
.loginButton {
  width: 100%;
  align-self: center;
  padding: 7px 10px;
  color: #fff;
  border: none;
  background: #149AC9;
  transition: all 0.3s;
}
.logoutButton:focus, 
.loginButton:focus {
  outline: none;
}
.logoutButton:hover,
.loginButton:hover {
  cursor: pointer;
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}