* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  line-height: 2rem;
}
.wrapper {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 3fr 9fr;
}
.wrapper-content {
  grid-template-rows: auto;
  column-gap: 30px;
  grid-template-areas: 
  'sidebar content';
  padding: 0 15px;

}
.wrapper-header {
  grid-template-rows: 60px;
  grid-template-areas: 
    'header header';
  margin-bottom: 40px;
}
.header-background {
  background-color: #231F20;
}
.content {
  grid-area: content;
}
.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
h4 {
  color: #6d6e71;
  margin: 0 auto 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}