* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  line-height: 2rem;
}

.wrapper {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 3fr 6fr 3fr;
}
.wrapper-content {
  grid-template-rows: 120px 1fr;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-areas: 
  'profile profile profile'
  'nav content follow';
}
.wrapper-header {
  grid-template-rows: 60px;
  grid-template-areas: 
    'header header';
  margin-bottom: 20px;
}
.content {
  grid-area: content;
}
h4 {
  color: #6d6e71;
  margin: 0 auto 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}